%h2 Analyze Word Frequencies

%form{ action: '/analyze', method: 'post'  }
  %textarea{ rows: 10, cols: 50, name: 'body' }
  %br
  %label{ for: 'exclude_common' } Exclude common words
  %input{ type: 'checkbox', name: 'exclude_common', value: 'true' }

  %input{ type: 'submit' }
